.wrapper {
  width: 1280px;
  margin: 0 auto;
}

.requestButtons {
  display: flex;
  column-gap: 10px;
  margin-bottom: 20px;
}

.highlightPurple {
  color: #646cff;
}
.highlightOrange {
  color: orange;
}

.form {
  display: flex;
  gap: 20px;
}

.eventTypeHeading {
  padding-left: 1em;
}

.actions {
  padding-left: 1em;
}
